.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  border: 1px solid #0000004d;
  background-color: #ffffff;
  position: relative;
  padding: 28px 28px 36px;
  border-radius: 20px;
  box-sizing: border-box;
  max-width: 496px;
  width: 100%;
}

.modal__content_type_image {
  padding: 0;
}

.modal__title {
  margin: 0;
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__close-button {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 20px;
  right: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* .modal__close-image {
} */

.modal__form {
  width: 100%;

.modal__input_type_text {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000000;
  width: 440px;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 8px;
  color: #00000080;
  padding-left: 0;
}

.modal__legend {
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 24px 0 12px;
  color: #000000;
}

.modal__label_type_radio {
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 11px;
}

.modal__radio-button {
  cursor: pointer;
}

.modal__radio-button:checked {
  accent-color: #000000;
}

.modal__submit-button {
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  background: #000000;
  cursor: pointer;
}

.modal__submit-button:hover {
  background-color: #00000099;
}

.modal__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
}

.modal__item-info {
  padding: 20px 32px 32px;
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__item-name {
  margin: 0;
  padding-bottom: 12px;
}

.modal__item-temp {
  margin: 0;
}

.modal__delete-button {
  border: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  color: #ff4d00;
  padding: 20px 32px 0 0;
  background-color: transparent;
}

.modal__content_type_confirmation {
  padding: 60px;
  max-width: 670px;
  position: relative;
  background: white;
  width: 100%;
  border-radius: 20px;
  border: 1px;
}

.modal__confirmation-message {
  margin: 0 auto;
  padding: 0 0 40px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__confirmation-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.modal__button {
  cursor: pointer;
  border: none;
}

.modal__button_type_cancel {
  background: transparent;
}

.modal__button_type_delete {
  background: transparent;
  color: #ff4d00;
}
