.profile {
  width: 100%;
  display: flex;
  gap: 20px;
}

.profile__sidebar {
  width: 25%;
  min-width: 250px;
  flex-shrink: 1;
}

.profile__clothes-section {
  max-width: 1015px;
  flex-grow: 1;
  width: 100%;
}

@media (max-width: 916px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
