.card {
  border: 1px solid #0000004d;
  position: relative;
  max-width: 325px;
  max-height: 328px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card:hover {
  opacity: 80%;
}

.card__header-container {
  margin: 0;
  position: absolute;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card__title {
  background-color: #fff;
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 2px 12px;
}

.card__like-button {
  width: 18px;
  height: 15px;
}
.card__like-button_liked {
  background-color: red;
}

.card__image {
  height: 100%;
  object-fit: contain;
}
