.card {
  border: 1px solid #0000004d;
  position: relative;
  max-width: 325px;
  max-height: 328px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.card__title {
  margin: 0;
  position: absolute;
  top: 15px;
  background-color: #fff;
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 2px 12px;
}

.card__image {
  height: 100%;
  object-fit: contain;
}
