.weathercard {
  height: 80px;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}
.weathercard__temp {
  position: absolute;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  margin: 0;
  top: 20px;
  left: 16px;
}

.weathercard__image {
  width: 100%;
  object-fit: cover;
  object-position: right top;
}
