.app {
  background-color: #f3f3f3;
  margin: 0;
  max-width: 1440px;
  font-family: "Cabinet";
  font-size: 20px;
  line-height: 24px;
  padding: 32px 0 24px 0;
  text-wrap: nowrap;
}

.app__content {
  max-width: 1360px;
  margin: 0 auto;
}
