.header {
  display: flex;
  align-items: center;
  padding-bottom: 28px;
}

/* .header__logo {
} */

.header__date-location {
  margin-left: 24px;
  text-wrap: none;
}

.header__profile-container {
  display: flex;
  margin-left: auto;
}

.header__add-clothes-button {
  margin: 0 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.header__add-clothes-button:hover {
  color: #00000099;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

/* .header__avatar {
} */

@media (max-width: 730px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__date-location {
    margin: 0;
  }

  .header__profile-container {
    margin: 0;
  }
}
