.header {
  display: flex;
  align-items: center;
  padding-bottom: 28px;
}

.header__date-location {
  margin-left: 24px;
}

.header__profile-container {
  display: flex;
  margin-left: auto;
}

.header__profile-container Link,
.header__profile-container a {
  text-decoration: none;
  color: black;
}

.header__add-clothes-button {
  margin: 0 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.header__add-clothes-button:hover {
  color: #00000099;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #00000080;
  border-radius: 50px;
}

.header__auth-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__button {
  background: none;
  border: none;
  color: black;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.header__button:hover {
  opacity: 0.6;
}

@media (max-width: 730px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__date-location {
    margin: 0;
  }

  .header__profile-container {
    margin: 0;
  }
}
