.header {
  display: flex;
  align-items: center;
  padding-bottom: 28px;
}

.header__logo {
}

.header__date-location {
  margin-left: 24px;
  text-wrap: none;
}

.header__add-clothes-button {
  margin: 0 20px 0 auto;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__avatar {
}
