.sidebar {
}

.sidebar__user {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 24px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border: 1px solid #00000080;
  border-radius: 50px;
}

.sidebar__avatar-letter {
  display: flex;
  width: 56px;
  height: 56px;
  border: 1px solid #00000080;
  border-radius: 50px;
  background-color: #aeaeae;
  font-size: 20px;
  font-family: "Cabinet";
  color: #ffffff;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.sidebar__name {
  margin: 0;
  padding-left: 16px;
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 20px;
}

.sidebar__button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: #00000080;
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 20px;
}

.sidebar__button {
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar__button:hover {
  opacity: 0.6;
}
