.sidebar {
}

.sidebar__user {
  display: flex;
  justify-content: left;
  align-items: center;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__name {
  margin: 0;
  padding-left: 16px;
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 20px;
}
